.bg-hero-blue-specs-pattern {
  background-image:
    linear-gradient(rgba(var(--white), 0), rgba(var(--white), 0)),
    url('/assets/svg/randomized-blue-specs-pattern.svg');
}

.bg-ctabg {
  background-image:
  linear-gradient(rgba(var(--dark), 0.5), rgba(var(--dark), 0.5)),
     url('/assets/images/cta.jpg');
}
.bg-sign-up {
  background-image: 
   linear-gradient(rgba(var(--primary), 0.2), rgba(var(--primary), 0.5)),
     url('/assets/images/food-7bmc.jpg');
      background-size: cover;
}

.bg-sign-in {
  background-image: 
   linear-gradient(rgba(var(--primary), 0.2), rgba(var(--primary), 0.5)),
     url('/assets/images/education-class.jpg');
      background-size: cover;
}
